#dininghall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    max-width: 70%;
}

.search {
    margin-top: 1%;
    text-align: center;
}

.searchbar {
    width: 60%;
    font-size: x-large;
    background-color: white;
    background-image: url('https://img.icons8.com/windows/128/000000/search--v1.png');
    background-size: 25px;
    background-position: 13px 13px; 
    background-repeat: no-repeat;
    padding-left: 45px;
    border: solid 1px rgb(161, 161, 161);
    border-radius: 100px;
    line-height: 2em;
}

.searchButton {
    width: 10%;
    margin: 10px;
}

#about {
    width: 80%;
    text-align: left;
}

#plate {
    max-width: 40%;
    margin-left: 10%;
    margin-right: 0;
    margin-top: 5%;
}

#aboutUs {
    text-align: left;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#top {
    background-color: rgba(143, 214, 255, 0.568);
    opacity: 100%;
    padding: 2% 1.5%;
}

.heading {
    margin-left: 1%;
}

.subHeading {
    margin-left: 1%;
}

.result {
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 90%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    list-style-type: none;
    margin-bottom: 2%; /* Add some space below the input */
    margin-left: 0;
    margin-right: auto;
}

.result a {
    border: 1px solid #ddd; /* Add a border to all links */
    background-color: #f6f6f6; /* Grey background color */
    text-decoration: none; /* Remove default text underline */
    color: black; /* Add a black text color */
    padding: 4%;
    display: block; /* Make it into a block element to fill the whole list */
  }

  .result a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }

  .DRButton {
      border: 1px solid #ddd;
      background-color: #f6f6f6;
      color: rgb(0, 0, 0);
      padding: 4%;
      text-decoration: none;
      cursor: pointer;
      width: 80%;
      text-align: center;
      margin-bottom: 2%;
      font-size: 16px;
  }

  .DR {
      text-align: center;
      margin-left: 1%;
  }

  .DRButton:hover {
    background-color: #eee;
  }

  #DRS {
      text-align: center;
  }


  .ratingScale {

    -webkit-appearance: none;
    width: 75%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }
.ratingScale::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}
    
.ratingScale::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.ratingScale:hover {
    opacity: 1;
}

.reviewContainer {
    margin-left: auto;
    margin-right: auto;
    padding: 7%;
    width: 68%;
    margin-top: 3%;
    text-align: center;
    border: dotted 1px gray;
    border-radius: 30px;
    background-color: rgba(143, 214, 255, 0.185);
}


.superContainer {
    text-align: center;
}


.review {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: dotted 1px gray;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    list-style-type: none;
    display: table-row;
}

#about {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: table-row;
    width: 100%;
    text-align: center;
    margin-bottom: 7%;
    background-color: rgb(241, 241, 241);
    padding-top: 1%;
    padding-bottom: 1%;
}

#featured {
    text-align: center;
    max-width: 100%;
}
.block {
    display: inline-block;
    width: 320px;
    padding-top: 120px;
    padding-bottom: 120px;
    border: dashed 1px gray;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-bottom: 3%;
    opacity: 70%;
}

.checked {
    color: orange;
}

#main {
    margin-top: 6%;
    margin-bottom: 10%;
}

#washu {
    background-image: url(washu.png);
    background-size: cover;
    transition: opacity 0.5s;
    background-repeat: no-repeat;
    background-position: center bottom;
}

#gt {
    background-image: url(gt.jpg);
    background-size: cover;
    transition: opacity 0.5s;
    background-repeat: no-repeat;
}

#berk {
    background-image: url(berk.jpg);
    background-size: cover;
    transition: opacity 0.5s;
    background-repeat: no-repeat;
}

.block:hover {
    opacity: 1;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

#mega {
    position: relative;
    min-height: 95vh;
}

#wrapper {
    padding-bottom: 5%;
}

#footer {
    position: absolute;
    height: 5%;
    text-align: center;
    background-color: rgba(143, 214, 255, 0.568);
    padding: 4%;
    margin-top: 7%;
    position: relative;
}

#home {
    text-decoration: none;
    padding: 1%;
    font-weight: 600;
    color: rgb(90, 90, 90);
}

@media screen and (max-width: 600px) {
    #main {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    #top {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    #about {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .block {
        width: 80%;
    }
    #dininghall {
        max-width: 90%;
    }
    .searchbar {
        width: 80%;
        line-height: 1.2em;
        background-position: 8px 3px;
    }
}
