{% extends "rmd/layout.html" %}

{% block body %}
{% load static %}
<script src="{% static 'rmd/slider.js' %}" ></script>
<div class="superContainer">
    <h1 class="bigHeading">{{eatery.name}}</h1>

<div class="reviewContainer">
    <form method="POST">
        {% csrf_token %}
        <h3>How would you rate this restaurant?</h3>
        <input type="range" class="ratingScale" min="1" max="5" step="0.5" name="rating" oninput="rate(value)">
        <h3 id="r">3</h3>
    
        <h3>Please add a comment regarding your experiences</h3>
        {{form.comment}}
        <div>
            <input type="submit">
        </div>
    </form>
</div>

</div>

{% endblock body %}