{% extends "rmd/layout.html" %}

{% block body %}
{% load static %}
<img src="{% static 'rmd/dininghall.jpg' %}"  id="dininghall">
<form method="POST" class="search">
    {% csrf_token %}
    <input type="text" name="q" class="searchbar" placeholder="Search for a school, restaurant, or dining hall">
    <div>
        <input type="submit" value="search" class="searchButton">
    </div>  
</form>

<div id="about" style="display: table;">

    <div style="display: table-row">
        <div style="width: 40%; display: table-cell;"> 
            {% load static %}
            <img src="{% static 'rmd/plate.jpg' %}" style="width: 100%;"></img>
        </div>
        <div style="display: table-cell; width: 50%; vertical-align: middle;">
            <h3>
                A Food Review Site For Students By Students
            </h3>
        </div>
    </div>

</div>

<h2 style="text-align: center;">Featured Schools</h2>
<div id="featured">
    <div class="block">1</div>
    <div class="block">2</div>
    <div class="block">3</div>
</div>
{% endblock body %}