{% extends "rmd/layout.html" %}

{% block body %}
{% load static %}
<img src="{% static 'rmd/dininghall.jpg' %}"  id="dininghall">
<form method="POST" class="search">
    {% csrf_token %}
    <input type="text" name="q" class="searchbar" placeholder="Search for a school, restaurant, or dining hall">
    <div>
        <input type="submit" value="search" class="searchButton">
    </div>  
</form>

<div id="about">
    <table>
        <tr>
            <td>
                <img src="{% static 'rmd/plate.jpg' %}" id="plate">
            </td>
            <td>
                <h3 id="aboutUs">A food review site for students, by students</h3>
            </td>
        </tr>
    </table>
</div>
{% endblock body %}