<!DOCTYPE html>
    <html lang="en">
        <head>
            {% load static %}
            <link rel="stylesheet" href="{% static 'rmd/style.css' %}">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Rate My Dining Hall</title>
        </head>
    <body>
        <div id="top">
            <a href="{% url 'index' %}" id="home"> Rate My Dining Hall</a>
        </div>

        <div id="mega">
            <div id="wrapper">
                {% block body %}
                {% endblock body %}
            </div>
        </div>
        

        <div id="footer">
            Developed in 2020 by Sam Kim
        </div>
    </body>
</html>